@model List<Role>
@{
  ViewData["Title"] = "Новый сотрудник";
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">        
            <div class="container-fluid">               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Employee">Сотрудники</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <p>
            <h2 class="text-info">@ViewData["Title"]</h2>
        </p>        

        <form asp-controller="Admin" asp-action="SaveEmployee" method="post">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Фамилия" name="lname">
                        <label for="floatingInput">Фамилия</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Имя" name="fname">
                        <label for="floatingInput">Имя</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Отчество" name="sname">
                        <label for="floatingInput">Отчество</label>
                    </div>
                    <div class="form-floating mb-3">                    
                        <input type="date" class="form-control" name="datebir"/>
                        <label for="floatingInput">Дата рождения</label>                        
                    </div>
                    <p>                    
                    <label>Роль сотрудника</label>                    
                    <select class="form-control" id="role" name="role" required="required">
                        <option value="">...</option>
                    @foreach(var m in Model)
                    {
                        <option value=@m.RoleId>@m.RoleName</option>                  
                    }
                    </select>
                    </p>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Категория" name="category">
                        <label for="floatingInput">Категория</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Логин" name="login">
                        <label for="floatingInput">Логин</label>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.Error != null)
        {
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    @ViewBag.Error
                </div>
            </div>
        </div>
        }        

        <br /> 
        <button type="submit" class="btn btn-outline-primary">Добавить</button>

        </form>
    <br />
    </header>
</body>