@model OkLens.Models.HowKnow

<body>
    <header>
        <p>
            <h1  class="text-info">Редактировать</h1>

            <hr />
        </p>        
        <br/>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditHowKnow">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="HowKnowId"/>
                    <div class="form-group">
                        <input asp-for="Descr" class="form-control" placeholder="Описание"/>
                        <span asp-validation-for="Descr" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div>
        <a asp-action="HowKnowList" class="btn btn-outline-primary">Назад</a>
        </div>

    </header>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
